<input type="text" [(ngModel)]="fName" name="fName" placeholder="First Name">
<input type="text" [(ngModel)]="lName" name="lName" placeholder="Last Name">
<input type="text" [(ngModel)]="phone" name="phone" placeholder="Telephone">
<input type="text" [(ngModel)]="mobile" name="mobile" placeholder="Mobile">
<input type="email" [(ngModel)]="email" name="email" placeholder="Email">
<textarea [(ngModel)]="address" name="address" placeholder="Address"></textarea>
<input type="submit" value="Add a Contact" (click)="addPost()">

<h1>Contact List </h1>

<ul *ngFor="let post of posts | async">
  <li (click)="getPost(post.id)">
    Name: <strong>{{ post.data.fName }} {{post.data.lName}}</strong> (<a href="#" (click)="deletePost(post.id)">delete</a>)
    <br>
    Telephone: {{post.data.phone}}
    <br>
    Mobile: {{post.data.mobile}}
    <br>
    Email: {{post.data.email}}
    <br>
    Address: {{post.data.address}}
  </li>
</ul>

<h3>{{ (singlePost | async)?.fName }}</h3>
<p>{{ (singlePost | async)?.lName }}</p>
<p>{{ (singlePost | async)?.phone }}</p>
<p>{{ (singlePost | async)?.mobile }}</p>
<p>{{ (singlePost | async)?.email }}</p>
<p>{{ (singlePost | async)?.address }}</p>